@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&family=Zen+Dots&display=swap");

body {
  background-image: url(https://images.unsplash.com/photo-1559424092-88b61cb7a6c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;

  z-index: 1;
}

.overlay {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(210, 222, 249, 0.5);

  z-index: 1;
  cursor: pointer;
}

.logo {
  position: relative;
  z-index: 6;
  
  
  height: 400px;
  width: 400px;
  left: 36%;
}

.card {
  position: relative;
  display: flex;

  width: 900px;
  height: 400px;

  z-index: 20;
}

select {
  text-align: center;
  height: 40px;
  align-self: baseline;

  margin-left: 40%;
  z-index: 5;
}

.modal {
  position: fixed;
  left: 39%;
  top: 35%;
  font-family: "Outfit", sans-serif;

  width: 300px;
  height: auto;
  padding: 10px;

  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 16px rgba(69, 72, 72, 0.68);
  background: rgb(216, 241, 249);
  color: rgb(0, 0, 0);

  transition: opacity 0.35s;
  z-index: 20;
}

.modal p {
  font-size: 18px;
  text-align: center;
  padding-bottom: 50px;
}

h4 {
  font-family: "Iceland", cursive;
  font-size: 40px;
  padding-top: 10px;
}

.btnclose {
  margin-bottom: 60px;
  width: 100%;
  background-color: transparent;
  font-family: "Iceland", cursive;
  font-size: 16px;
}

.dateContainer {
  background-color: rgb(20, 31, 46);
  width: 16%;
  height: auto;
  margin-left: 0px;
  display: flex;
  margin-top: -200px;

  z-index: 6;
}

.dateContainer p {
  font-family: "Iceland", cursive;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  letter-spacing: 1px;
}

#cityselect {
  position: absolute;
  margin-left: 20%;
  margin-top: 60px;

  width: 900px;
  height: 400px;

  background-color: rgba(169, 217, 248, 0.459);

  z-index: 14;
  cursor: pointer;
}

.nameofcity {
  font-family: "Iceland", cursive;
  font-size: 60px;
  padding-top: 100px;
  padding-left: 20px;

  width: 400px;
  height: 200px;

  color: white;
  background-color: rgb(176, 207, 253);
  opacity: 80%;
}

.weather {
  font-family: "Iceland", cursive;
  font-size: 30px;
  background-color: thistle;
  height: 100px;
  width: 400px;
  padding-top: 10%;
  text-align: center;

  color: rgb(0, 0, 0);

  opacity: 80%;
}

.wind {
  font-family: "Iceland", cursive;
  font-size: 30px;
  text-align: center;

  background-color: white;
  width: 200px;
  height: 96px;
  padding-top: 5%;
  padding-left: 10px;
  margin-top: 100px;

  color: rgb(0, 0, 0);

  opacity: 90%;
}

.temperature {
  font-family: "Iceland", cursive;
  font-size: 90px;
  position: absolute;
  padding-top: 160px;
  padding-left: 300px;
}

.humidity {
  font-family: "Iceland", cursive;
  font-size: 50px;
  position: absolute;
  padding-top: 260px;
  padding-left: 600px;
  color: white;
}
